body {
    padding: 10px;
    background-color: #242424;
    color: #fff;
}

.card {
    color: white;
    margin: 5px;
    background-color: #404040;
}

.card-footer {
    background-color: #404040;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #4f4f4f;
    border-radius: 60px;
}

::-webkit-scrollbar-thumb:hover {
    background: #676767;
    border-radius: 60px;
}

.swal2-modal {
    color: white;
    background-color: rgb(80, 80, 80);
}

.swal2-styled.swal2-confirm {
    background-color: #198754;
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 0 .25rem rgba(25, 135, 84, .25);
}