.form-check {
    margin: 10px;
}

.btn {
    margin-top: 7.5px;
    width: 100%;
}

body {
    padding: 10px;
    background-color: #242424;
    color: #fff;
}

.card {
    color: white;
    overflow: auto;
    margin: 5px;
    height: 825px;
    /*height: 1671px;*/
    background-color: #404040;
}

.rangeText {
    color: white;
    margin-top: -5px;
    display: flex;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.form-range {
    margin-top: 7.5px;
    margin-bottom: 0px;
}

.form-check-label {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.form-check-input[type="checkbox"] {
    border-radius: 50%;
}

.form-check-input:checked {
    background-color: #198754;
    border-color: #198754;
}

.form-check-input:focus {
    border-color: #198754;
    box-shadow: 0 0 0 .25rem rgba(25, 135, 84, .25);
}

.form-range::-moz-range-thumb {
    background-color: #198754;
}

.form-range:focus::-moz-range-thumb {
    box-shadow: 0 0 0 .25rem rgba(25, 135, 84, .25);
}

.postheader {
    display: flex;
    color: white;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.postsecondheader {
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}

.penalty {
    margin-top: 10px;
    margin-bottom: 35px;
}

.modal-content {
    background-color: #404040;
}

.modal-footer {
    border-top: None;
    padding: .75rem;
    padding-top: 0px !important;
}

.modal-body {
    padding: 1rem;
    padding-bottom: 0.5rem !important;
}

.form-select {
    margin-bottom: 15px;
}

.modal-body {
    padding-bottom: 1rem !important;
}

#sendReportButton {
    margin-top: 0px !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #4f4f4f;
    border-radius: 60px;
}

::-webkit-scrollbar-thumb:hover {
    background: #676767;
    border-radius: 60px;
}
