<!DOCTYPE html>
<html lang="pl">
<head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.20/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

    <meta charset="utf-8"/>
    <meta
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
            name="viewport"
    />
    <meta content="devPrzemuS" name="author"/>
    <title>Strona główna taryfikatorów PRL - devPrzemuS</title>
    <link
            href="{{ url_for('static', filename='images/main-favicon.ico') }}"
            rel="shortcut icon"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


    <link
            href="{{ url_for('static', filename = '/index.css') }}"
            rel="stylesheet"
    />

    <meta content="Taryfikatory PRL" property="og:title"/>
    <meta content="Taryfikatory dla osób pełniących różne funkcje na serwerze Polish-Real-Life."
          property="og:description"/>
    {#    <meta content="https://i.imgur.com/FKpvqV6.png" property="og:image"/>#}
    <meta content="https://devprzemus.pythonanywhere.com/" property="og:url"/>
    <meta content="#8758FF" data-react-helmet="true" name="theme-color"/>

</head>
<body>
<div class="main" id="main">
    <div class="container">
        {% block body %}
            <div class="container text-center">
                <h1>Taryfikatory PRL</h1>
                <h5 style="font-weight: lighter">by
                    <a class="text-white" style="text-decoration: none" target="_blank"
                       href="https://github.com/dewPrzemuS/">devPrzemuS</a></h5>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="card text-center col-xxl-3 col-lg-4 col-md-6 col-sm-7">
                    <div class="card-body">
                        <a class="text-white" style="text-decoration: none"
                           href="/lspd"> <img src="{{ url_for('static', filename='images/types/lspd.png') }}"
                                              height="256" width="256">
                        </a>
                    </div>
                    <div class="card-footer">
                        <a class="text-white" style="text-decoration: none"
                           href="/lspd">Taryfikator kar dla LSPD</a>
                    </div>
                </div>
                <div class="card text-center col-xxl-3 col-lg-4 col-md-6 col-sm-7">
                    <div class="card-body">
                        <a class="text-white" style="text-decoration: none"
                           href="#"> <img src="{{ url_for('static', filename='images/types/support.png') }}"
                                          height="256" width="256" data-bs-placement="top"
                                          data-bs-toggle="tooltip"
                                          title="Dostępne wkrótce!">
                        </a>
                    </div>
                    <div class="card-footer" data-bs-placement="top"
                         data-bs-toggle="tooltip"
                         title="Dostępne wkrótce!">
                        <a class="text-white" style="text-decoration: none"
                           href="#"> Taryfikator kar dla Supporterów</a>
                    </div>
                </div>

            </div>
            <footer class="text-center fixed-bottom">

                <div class="text-center p-3">
                    Usługa Taryfikatory PRL nie jest powiązana prawnie z serwerem
                    <a class="text-white" target="_blank" href="https://polish-real-life.pl/">Polish-Real-Life</a>.
                </div>

            </footer>
        {% endblock %}

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<script type="module">
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    var currentVersion = "1.0"
    //if (Cookies.get("lastMainVersion") != currentVersion) {
    //    Swal.fire({
    //        title: "Aktualizacja " + currentVersion,
    //        text: "Dodano przycisk do zgłaszania błędów/propozycji w aplikacji."
    //    })
    // }
    Cookies.remove("lastMainVersion")
    Cookies.set("lastMainVersion", currentVersion, {expires: 365, sameSite: "strict"})

    function getViewport() {
        // https://stackoverflow.com/a/8876069
        const width = Math.max(
            document.documentElement.clientWidth,
            window.innerWidth || 0
        )
        if (width <= 576) return 'xs'
        if (width <= 768) return 'sm'
        if (width <= 992) return 'md'
        if (width <= 1200) return 'lg'
        if (width <= 1400) return 'xl'
        return 'xxl'
    }


    function reportWindowSize() {
    }

    reportWindowSize()

    window.onresize = reportWindowSize;

</script>


</body>
</html>
