<!DOCTYPE html>
<html lang="pl">
<head>


    <meta charset="utf-8"/>
    <meta
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
            name="viewport"
    />
    <meta content="devPrzemuS" name="author"/>
    <title>Taryfikator kar LSPD - devPrzemuS</title>
    <link
            href="{{ url_for('static', filename='images/favicon.ico') }}"
            rel="shortcut icon"
    />
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">


    <link
            href="{{ url_for('static', filename = '/main.css') }}"
            rel="stylesheet"
    />

</head>
<body>
<div class="main" id="main">
    <div class="container">
        {% block body %}
            <form action="/" id="checkboxes" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header text-center">
                                Kodeks Drogowy
                            </div>
                            {% for d in data %}
                                {% if len(getalnum(d)) == 4 and getalnum(d)[2] == "K" and getalnum(d)[3] == "D" or
                        len(getalnum(d)) == 5 and getalnum(d)[3] == "K" and getalnum(d)[4] == "D" %}
                                    <div class="form-check">
                                        <input class="form-check-input" id="option{{ getalnum(d) }}"
                                               name="option{{ getalnum(d) }}"
                                               type="checkbox" value="{{ d }}">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            {{ d }}
                                        </label>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                        <div class="container">
                            <div class="row">
                                <button class="btn btn-success" type="submit">Oblicz
                                </button>
                                <input class="form-range" id="range" max="3" min="0" name="range" type="range">
                                <label class="rangeText" for="range" id="rangeText">Zwykła kara.</label>
                                {% if display == True %}
                                    <div class="penalty" id="penalty">
                                        <h1 class="postheader">Kara:</h1>
                                        <div class="col">
                                            <h2 class="postsecondheader">Typ kary: {{ penaltyType }}</h2>
                                        </div>
                                        <div class="col">
                                            <h2 class="postsecondheader" data-bs-placement="top"
                                                data-bs-toggle="tooltip"
                                                title="Liczba w nawiasie oznacza ilość minut, którą powinna odsiedzieć osoba odmawiająca przyjęcia mandatu.">
                                                Pieniądze: {{ fine }} ({{ round(fine / 10) }})</h2>
                                        </div>
                                        <div class="col">
                                            <h2 class="postsecondheader">Punkty karne: {{ pp }}</h2>
                                        </div>
                                        <div class="col">
                                            <h2 class="postsecondheader">Więzienie: {{ jail }}</h2>
                                        </div>
                                        <div class="col">
                                            <h2 class="postsecondheader">Podpunkty: {% for ppkdkk in selected %}
                                                {{ ppkdkk }} {% endfor %}</h2>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header text-center">
                                Kodeks Karny
                            </div>
                            {% for d in data %}
                                {% if len(getalnum(d)) == 4 and getalnum(d)[2] == "K" and getalnum(d)[3] == "K" or
                        len(getalnum(d)) == 5 and getalnum(d)[3] == "K" and getalnum(d)[4] == "K" %}
                                    <div class="form-check">
                                        <input class="form-check-input" id="option{{ getalnum(d) }}"
                                               name="option{{ getalnum(d) }}"
                                               type="checkbox" value="{{ d }}">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            {{ d }}
                                        </label>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>


            </form>
        {% endblock %}

    </div>
</div>
<script src="{{ url_for('static', filename='js.cookie.mjs') }}" type="module"></script>
<script defer nomodule src="{{ url_for('static', filename='js.cookie.js') }}"></script>
<script crossorigin="anonymous"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script type="module">

    //region Imports and Variables
    var currentVersion = "1.1.9"
    var textLeft = document.getElementById("rangeTextLeft")
    var textRight = document.getElementById("rangeTextRight")
    var penalty = document.getElementById("penalty")
    var range = document.getElementById("range")
    var rangeText = document.getElementById("rangeText")
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'), null)
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    //endregion

    //region Visuals
    function getViewport() {
        // https://stackoverflow.com/a/8876069
        const width = Math.max(
            document.documentElement.clientWidth,
            window.innerWidth || 0
        )
        if (width <= 576) return 'xs'
        if (width <= 768) return 'sm'
        if (width <= 992) return 'md'
        if (width <= 1200) return 'lg'
        if (width <= 1400) return 'xl'
        return 'xxl'
    }

    //endregion

    //region Other Functions

    function max(input) {
        if (toString.call(input) !== "[object Array]")
            return false;
        return Math.max.apply(null, input);
    }

    //endregion

    function rangeTextChange() {
        if (range.value == 0) {
            rangeText.innerHTML = "Minimalna kara."
        }
        if (range.value == 1) {
            rangeText.innerHTML = "Niska kara."
        }
        if (range.value == 2) {
            rangeText.innerHTML = "Zwykła kara."
        }
        if (range.value == 3) {
            rangeText.innerHTML = "Najwyższa kara."
        }
    }

    range.addEventListener("input", rangeTextChange)

    rangeTextChange()


</script>


</body>
</html>
